<?xml version="1.0" ?>
<model>
    <name>robot_in_my_house</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Anjan Roy</name>
        <email>anjanroy@yandex.com</email>
    </author>
    <description>Robot with four wheels in my house</description>
</model>
